# ============================================================
# KEYCLOAK
# Todas las variables DEBEN empezar con VITE_ para que
# Vite las exponga al navegador
# ============================================================
VITE_KEYCLOAK_URL=https://xxx.xxxx.xxx.xxx
VITE_KEYCLOAK_REALM=realm_ejemplo
VITE_KEYCLOAK_CLIENT_ID=servicios

# ============================================================
# BACKEND
# ============================================================
VITE_API_BASE_URL=http://localhost:8000
